<%= form_for(goal,class: 'form-inline') do |f| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <!--Body-->
    <div class="md-form">
        <i class="fa  fa-star-half-o prefix"></i>
        <%= f.label 'Catchy goal name' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="md-form">
        <i class="fa fa-flag prefix"></i>
        <%= f.label 'Priority in numbers(1 to 10)' %>
        <%= f.number_field :priority , class: 'form-control' %>
    </div>

    <div class="md-form">
        <i class="fa fa-dot-circle-o prefix"></i>
        <%= f.label 'Target in numbers'  %>
        <%= f.number_field :target , class: 'form-control' %>
    </div>

    <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <%= f.label 'Measurement unit (Ex: problem,code,article )' %>
        <%= f.text_field :unit , class: 'form-control' %>
    </div>


    <div class="md-form">
        <i class="fa fa-calendar-check-o prefix active"></i>
        <%= f.label 'Expecting to complete',class: 'active' %>
        <%= f.date_field :expected_completion_day , class: 'form-control' %>
    </div>
    <div class="md-form">
        <i class="fa fa-heart prefix active"></i>
        <%= f.label 'Favourite (To set in home page)', class:'active' %>
        <%= f.select(:default, [['Yes',true],['No',false]],{}, {class: 'form-control'})%>

    </div>
    <div class="text-xs-center">
        <%= f.submit "Submit",class: "btn btn-default"%>
    </div>
<% end %>
